#b1{
 border: 5px solid;
width: 250px;
height: 250px;
font-size: 22px;
background-color: rgb(199, 244, 255);
margin-right: auto;
}

#b2{
border: 3px dotted;
width: 250px;
height: 250px;
font-size: 22px;
background-color: rgb(255, 177, 238);
margin-left: auto;
}

body{
    background: linear-gradient(lightgreen, lightpink, pink);

    background-repeat: no-repeat;

    background-attachment: fixed;

}

#line{
    color: lightgreen;
}

#text{
    color: rebeccapurple;
}